body {
    font-family: Arial, sans-serif;
    background-image: url('./images/bbb.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.logInDiv, .signUpDiv, .updateDiv {
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
}

button {
    background-color: #000;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

    button:hover {
        background-color: #333;
    }

progress {
    width: 80%;
    height: 20px;
    margin-bottom: 15px;
}

button#logIn, button#SignUp, button#signUpUpdate {
    width: 100%;
}

button[onclick="showRegister()"] {
    background: none;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 10px;
}

    button[onclick="showRegister()"]:hover {
        color: #555;
    }

.signUpDiv {
    display: none;
}
